.footer {
  margin: 60px 0px;
}
.footer__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__subtitle {
  color: #fff;
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-family: "Inter Tight";
  opacity: 0.4;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 0.975rem */
}
.footer__links {
  gap: 20px;
  display: flex;
  align-items: center;
}
.footer__link {
  color: #fff;
  opacity: 0.6;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Inter Tight";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.225rem */
  transition: all 0.3s ease-in-out 0s;
}
.footer__link:hover {
  opacity: 1;
}

.footer__symb {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Inter Tight";
  font-size: 0.875rem;
  opacity: 0.2;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.footer__privacy {
  color: #fff;
  transition: all 0.3s ease-in-out 0s;
  text-align: right;
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-family: "Inter Tight";
  opacity: 0.4;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 0.975rem */
}
.footer__privacy:hover {
  opacity: 1;
}
